html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: Bungee-Shade;
    src: url(fuentes/BungeeShade-Regular.ttf);
  }
  
  @font-face {
    font-family: raleway;
    src: url(fuentes/Raleway-Regular.ttf);
  }
  
  @font-face {
    font-family: pacifico;
    src: url(fuentes/pacifico/Pacifico.ttf);
  }

/*-------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: raleway;
    line-height: 1.5;
    background-image: linear-gradient(45deg, #243949 10%, #517fa4 100%);
    background-size: 400% 400%;
    position: relative;
    color: white;
    animation: change 10s ease-in-out infinite;
  }

  @keyframes change {
      0%{background-position: 0 50%;}
      50%{background-position: 100% 50%;}
      100%{background-position: 0 50%;}
  }
  
  h1 {
    text-align: center;
    color: darkslategrey;
    font-family: pacifico;
    transition: color 500ms;
  }

  .logo{
      width: 110px;
      height: 140px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    transition: background-color 500ms;
  }
  
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  form {
    display: flex;
    width: 100%;
    border-radius: 10px;
  }
  
  input {
    padding: 15px 10px;
    outline: none;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
  }

  i{
    color: black;
    transition: all 500ms;
  }
  
  .li-container {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
  }
  
  ul {
    padding: 0;
    overflow-y: scroll;
    transition: background-color 500ms;
  }

  ul::-webkit-scrollbar{
    width: 5px;
  }

  ul::-webkit-scrollbar-thumb{
    background-color: #a4a4a4;
    border-radius: 5px;
  }
  
  li {
    width: 100%;
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;

    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
  }
  
  li p {
    margin: 0;
    padding: 15px;
    width: 90%;
  }
  
  .btndelete {
    padding: 5px 15px;
    border: none;
    font-family: raleway;
    background-color: #95213c;
    color: white;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    width: 45px;
    font-size: 1.4em;
  }
  
  .btndelete:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    transition: all 0.5s;
  }
  
  .btnadd {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: rgb(37, 59, 131);
    font-size: 1.4rem;
    outline: none;
    border-radius: 0px 10px 10px 0px;
  }
  
  .btnadd:hover {
    cursor: pointer;
    background-color: rgb(154, 154, 154);
    transition: all 0.5s;
  }
  
  .empty {
    color: darkslategrey;
    text-align: center;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    transition: color 500ms;
  }

  .creditos{
      font-family: Bungee-Shade;
      font-size: 2.2rem;
      color: rgb(0, 0, 0);
      text-align: center;
    }

  .error{
    background-color: lightgray;
    width: 96%;
    color: rgb(191, 33, 33);
    padding: 12px;
    border-radius: 10px;
  }

  .animate__animated animate__bounce{
    display: inline-block;
    margin: 0 0.5rem;

    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

  @media screen and (max-width: 550px){
      .container{
          width: 70%;
      }
  }
